fastapi==0.128.7
uvicorn==0.40.0
python-multipart==0.0.22
tensorflow==2.15.0
keras==2.15.0
numpy==1.26.4
pillow==12.1.1
python-dotenv==1.2.1
google-generativeai==0.8.6
scikit-learn==1.7.2
psycopg2-binary==2.9.11
tensorflowjs==4.22.0
